<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Add Routine</title>
</head>
<body>
  <div class="buttons">
    <a href="/home">Home |</a>
    <a href="/products"> Skincare |</a>
    <a href="/logout">Logout</a>
  </div>
  <div class="form-control">
      <h1>Plan Your Routine</h1>
        <form action="/post/routine" name="plant" method="post">
            <div class="flash">
                {% with messages = get_flashed_messages() %}     
                    {% if messages %}                            
                        {% for message in messages %}            
                            <p>{{message}}</p>                  
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="form">
              <div>
                <label for="time_of_day">Time of Day:</label>
                <input type="radio" name="time_of_day" value="Morning">
                <label for="time_of_day">Morning</label>
                <input type="radio" name="time_of_day" value="Night Time">
                <label for="time_of_day">Night Time</label><br>
              </div>
              <div>
                <label for="cleanser">Cleanser:</label>
                <select name="cleanser" id="">
                  <option value=""></option>
                  <option value="CeraVe SA Cleanser">CeraVe SA Cleanser</option>
                  <option value="Kate Somerville Exfolikate Cleanser">Kate Somerville Exfolikate Cleanser</option>
                  <option value="Dermalogica Skin Resurfacing Cleanser">Dermalogica Skin Resurfacing Cleanser</option>
                  <option value="La Roche-Posay Pigmentclar Cleanser">La Roche-Posay Pigmentclar Cleanser</option>
                  <option value="Glossier Milky Jelly Cleanser">Glossier Milky Jelly Cleanser</option>
                  <option value="SkinCeuticals LHA Cleanser">SkinCeuticals LHA Cleanser</option>
                  <option value="Tata Harper Regenerating Cleanser">Tata Harper Regenerating Cleanser</option>
                </select>
              </div>
              <div>
                <label for="serum">Serum:</label>
                <select name="serum" id="">
                  <option value=""></option>
                  <option value="Drunk Elephant TLC Serum">Drunk Elephant TLC Serum</option>
                  <option value="The Ordinary Niacinamide">The Ordinary Niacinamide</option>
                  <option value="SkinCeuticals C E Ferulic Serum">SkinCeuticals C E Ferulic Serum</option>
                  <option value="Kiehls Clearly Corrective Solution">Kiehls Clearly Corrective Solution</option>
                  <option value="Vichy Mineral 89">Vichy Mineral 89</option>
                  <option value="La Mer The Lifting Eye Serum">La Mer The Lifting Eye Serum</option>
                  <option value="The Inkey List Retinol Serum">The Inkey List Retinol Serum</option>
                </select>
              </div>
              <div>
                <label for="moisturizer">Moisturizer:</label>
                <select name="moisturizer" id="">
                  <option value=""></option>
                  <option value="Paula's Choice Oil-Free Moisturizer">Paula's Choice Oil-Free Moisturizer</option>
                  <option value="Tatcha Water Cream">Tatcha Water Cream</option>
                  <option value="Adaptogen Deep Moisture Cream">Adaptogen Deep Moisture Cream</option>
                  <option value="Neutrogena Correcting Cream">Neutrogena Correcting Cream</option>
                  <option value="Embryolisse Lait Creme Concentre">Embryolisse Lait Creme Concentre</option>
                  <option value="CeraVe Eye Repair Cream">CeraVe Eye Repair Cream</option>
                  <option value="Olay Regenerist Micro-Sculpting Cream">Olay Regenerist Micro-Sculpting Cream</option>
                </select>
              </div>
              <div>
                <label for="treatment">Extra Treatment:</label>
                <select name="treatment" id="">
                  <option value=""></option>
                  <option value="Peace Out Acne Patches">Peace Out Acne Patches</option>
                  <option value="Caudalie Detox Mask">Caudalie Detox Mask</option>
                  <option value="Nuface Trinity">Nuface Trinity</option>
                  <option value="Drunk Elephant TLC Babyfacial">Drunk Elephant TLC Babyfacial</option>
                  <option value="Sunday Riley CEO Glow">Sunday Riley CEO Glow</option>
                  <option value="PMG Microderm Tool">PMG Microderm Tool</option>
                  <option value="Supergoop Unseen Sunscreen">Supergoop Unseen Sunscreen</option>
                </select>
              </div>
            </div>
            <input class="add" type="submit" value="Add to your routine">
        </form>
    </div>
    <img class="img" src="https://images.unsplash.com/photo-1502810365585-56ffa361fdde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHBsYW50c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="plant">
</body>
</html>