<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Add Routine</title>
</head>
<body>
  <div class="buttons">
    <a href="/home">Home |</a>
    <a href=""> Skincare |</a>
    <a href="/logout">Logout</a>
  </div>
  <div class="form-control">
      <h1>Edit Your Routine</h1>
        <form action="/update/{{product.id}}" name="product" method="post">
            <div class="flash">
                {% with messages = get_flashed_messages() %}     
                    {% if messages %}                            
                        {% for message in messages %}            
                            <p>{{message}}</p>                  
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="form">
              <div>
                <label for="time_of_day">Time of Day:</label>
                <input type="radio" name="time_of_day" value="Morning" {% if product.time_of_day== "Morning" %} checked="checked" {% endif %}>
                <label for="time_of_day">Morning</label>
                <input type="radio" name="time_of_day" value="Night Time" {% if product.time_of_day== "Night Time" %} checked="checked" {% endif %}>
                <label for="time_of_day">Night Time</label><br>
              </div>
              <div>
                <label for="cleanser">Cleanser:</label>
                <select value="" name="cleanser">
                  <option value="CeraVe SA Cleanser" {% if product.cleanser== "CeraVe SA Cleanser" %} selected="selected" {% endif %}>CeraVe SA Cleanser</option>
                  <option value="Kate Somerville Exfolikate Cleanser"{% if product.cleanser == "Kate Somerville Exfolikate Cleanser" %} selected="selected" {% endif %}>Kate Somerville Exfolikate Cleanser</option>
                  <option value="Dermalogica Skin Resurfacing Cleanser"{% if product.cleanser == "Dermalogica Skin Resurfacing Cleanser" %} selected="selected" {% endif %}>Dermalogica Skin Resurfacing Cleanser</option>
                  <option value="La Roche-Posay Pigmentclar Cleanser"{% if product.cleanser == "La Roche-Posay Pigmentclar Cleanser" %} selected="selected" {% endif %}>La Roche-Posay Pigmentclar Cleanser</option>
                  <option value="Glossier Milky Jelly Cleanser"{% if product.cleanser == "Glossier Milky Jelly Cleanser" %} selected="selected" {% endif %}>Glossier Milky Jelly Cleanser</option>
                  <option value="SkinCeuticals LHA Cleanser"{% if product.cleanser == "SkinCeuticals LHA Cleanser" %} selected="selected" {% endif %}>SkinCeuticals LHA Cleanser</option>
                  <option value="Tata Harper Regenerating Cleanser"{% if product.cleanser == "Tata Harper Regenerating Cleanser" %} selected="selected" {% endif %}>Tata Harper Regenerating Cleanser</option>
                </select>
                </div>
                <div>
                  <label for="serum">Serum:</label>
                  <select name="serum" id="">
                    <option value="Drunk Elephant TLC Serum" {% if product.serum== "Drunk Elephant TLC Serum" %} selected="selected" {% endif %}>Drunk Elephant TLC Serum</option>
                    <option value="The Ordinary Niacinamide"{% if product.serum == "The Ordinary Niacinamide" %} selected="selected" {% endif %}>The Ordinary Niacinamide</option>
                    <option value="SkinCeuticals C E Ferulic Serum"{% if product.serum == "SkinCeuticals C E Ferulic Serum" %} selected="selected" {% endif %}>SkinCeuticals C E Ferulic Serum</option>
                    <option value="Kiehls Clearly Corrective Solution"{% if product.serum == "Kiehls Clearly Corrective Solution" %} selected="selected" {% endif %}>Kiehls Clearly Corrective Solution</option>
                    <option value="Vichy Mineral 89"{% if product.serum == "Vichy Mineral 89" %} selected="selected" {% endif %}>Vichy Mineral 89</option>
                    <option value="La Mer The Lifting Eye Serum"{% if product.serum == "La Mer The Lifting Eye Serum" %} selected="selected" {% endif %}>La Mer The Lifting Eye Serum</option>
                    <option value="The Inkey List Retinol Serum"{% if product.serum == "The Inkey List Retinol Serum" %} selected="selected" {% endif %}>The Inkey List Retinol Serum</option>
                  </select>
                </div>
                <div>
                  <label for="moisturizer">Moisturizer:</label>
                  <select name="moisturizer" id="">
                    <option value="Paula's Choice Oil-Free Moisturizer" {% if product.moisturizer== "Paula's Choice Oil-Free Moisturizer" %} selected="selected" {% endif %}>Paula's Choice Oil-Free Moisturizer</option>
                    <option value="Tatcha Water Cream"{% if product.moisturizer == "Tatcha Water Cream" %} selected="selected" {% endif %}>Tatcha Water Cream</option>
                    <option value="Adaptogen Deep Moisture Cream"{% if product.serum == "Adaptogen Deep Moisture Cream" %} selected="selected" {% endif %}>Adaptogen Deep Moisture Cream</option>
                    <option value="Neutrogena Correcting Cream"{% if product.serum == "Neutrogena Correcting Cream" %} selected="selected" {% endif %}>Neutrogena Correcting Cream</option>
                    <option value="Embryolisse Lait Creme Concentre"{% if product.serum == "Embryolisse Lait Creme Concentre" %} selected="selected" {% endif %}>Embryolisse Lait Creme Concentre</option>
                    <option value="CeraVe Eye Repair Cream"{% if product.serum == "CeraVe Eye Repair Cream" %} selected="selected" {% endif %}>CeraVe Eye Repair Cream</option>
                    <option value="Olay Regenerist Micro-Sculpting Cream"{% if product.serum == "Olay Regenerist Micro-Sculpting Cream" %} selected="selected" {% endif %}>Olay Regenerist Micro-Sculpting Cream</option>
                  </select>
                </div>
                <div>
                  <label for="treatment">Extra Treatment:</label>
                  <select name="treatment" id="">
                    <option value="Peace Out Acne Patches" {% if product.treatment== "Peace Out Acne Patches" %} selected="selected" {% endif %}>Peace Out Acne Patches</option>
                    <option value="Caudalie Detox Mask"{% if product.treatment == "Caudalie Detox Mask" %} selected="selected" {% endif %}>Caudalie Detox Mask</option>
                    <option value="Nuface Trinity"{% if product.serum == "Nuface Trinity" %} selected="selected" {% endif %}>Nuface Trinity</option>
                    <option value="Drunk Elephant TLC Babyfacial"{% if product.serum == "Drunk Elephant TLC Babyfacial" %} selected="selected" {% endif %}>Drunk Elephant TLC Babyfacial</option>
                    <option value="Sunday Riley CEO Glow"{% if product.serum == "Sunday Riley CEO Glow" %} selected="selected" {% endif %}>Sunday Riley CEO Glow</option>
                    <option value="PMG Microderm Tool"{% if product.serum == "PMG Microderm Tool" %} selected="selected" {% endif %}>PMG Microderm Tool</option>
                    <option value="Supergoop Unseen Sunscreen"{% if product.serum == "Supergoop Unseen Sunscreen" %} selected="selected" {% endif %}>Supergoop Unseen Sunscreen</option>
                  </select>
                </div>
            </div>
            <input class="submit" type="submit" value="Update">
          </form>
          <a href="/destroy/{{product.id}}"><button class="delete"> Remove Routine </button> </a>
      </div>
      <img class="imgright" src="https://images.unsplash.com/photo-1502810365585-56ffa361fdde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHBsYW50c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="plant">
</body>
</html>