<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Add Routine</title>
</head>
<body>
    <div class="header">
        <h1>Edit Your Routine</h1>
        <div class="side">
            <div class="buttons">
                <a href="/home">Home</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
    <div class="form">
        <form action="/update/{{product.id}}" name="product" method="post">
            <div class="flash">
                {% with messages = get_flashed_messages() %}     
                    {% if messages %}                            
                        {% for message in messages %}            
                            <p>{{message}}</p>                  
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="form">
              <div>
                <label for="time_of_day">Time of Day:</label>
                <input type="radio" name="time_of_day" value="Morning">
                <label for="time_of_day">Morning</label>
                <input type="radio" name="time_of_day" value="NightTime">
                <label for="time_of_day">Nighttime</label><br>
              </div>
              <div>
                <label for="cleanser">Cleanser:</label>
                <select value="" name="cleanser">
                  <option value="Soy cleanser" {% if product.cleanser== "Soy cleanser" %} selected="selected" {% endif %}>Soy Cleanser</option>
                  <option value="AHA cleanser"{% if product.cleanser == "AHA cleanser" %} selected="selected" {% endif %}>AHA Cleanser</option>
                </select>
                </div>
                <div>
                  <label for="serum">Serum:</label>
                  <select name="serum" id="">
                    <option selected="{{product.serum}}">{{product.serum}}</option>
                    <option value="Soy cleanser">Soy Cleanser</option>
                    <option value="AHA cleanser">AHA Cleanser</option>
                  </select>
                </div>
                <div>
                  <label for="moisturizer">Moisturizer:</label>
                  <select name="moisturizer" id="">
                    <option selected="{{product.moisturizer}}">{{product.moisturizer}}</option>
                    <option value="Soy cleanser">Soy Cleanser</option>
                    <option value="AHA cleanser">AHA Cleanser</option>
                  </select>
                </div>
                <div>
                  <label for="treatment">Extra Treatment:</label>
                  <select name="treatment" id="">
                    <option selected="{{product.treatment}}">{{product.treatment}}</option>
                    <option value="Soy cleanser">Soy Cleanser</option>
                    <option value="AHA cleanser">AHA Cleanser</option>
                  </select>
                </div>
            </div>
            <input type="submit" value="Update">
        </form>
      </div>
      <a href="/destroy/{{product.id}}"><button> Delete </button> </a>
</body>
</html>