<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Homepage</title>
</head>
<body>
    <div class="header">
        <div class="side">
            <h1>{{user.first_name}}'s Skincare Routine</h1>
            <div class="buttons">
                <a href="/routine/new"><button>Build your routine here!</button></a>
                <a href="/logout"><button>Logout</button></a>
            </div>
        </div>
    </div>
    <div class="table">
        <table>
          <thead>
            <tr>
              <th>Time of Day</th>
              <th>Cleanser</th>
              <th>Serums</th>
              <th>Moisturizer</th>
              <th>Extras</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
                <td>{{product.time_of_day}}</td>
                <td>{{product.cleanser}}</td>
                <td>{{product.serum}}</td>
                <td>{{product.moisturizer}}</td>
                <td>{{product.treatment}}</td>
                <td>      <a href="/routine/edit/{{product.id}}">Edit</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% for product in products %}

      {% endfor %}
</body>
</html>