<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Homepage</title>
</head>
<body>
    <div class="header">
        <div class="side">
            <h1 class="headline">{{user.first_name}}'s Skincare Routine</h1>
            <div class="buttons">
                <a href="/routine/new"><button>Build your routine here!</button></a>
                <a href="/logout"><button>Logout</button></a>
            </div>
        </div>
    </div>
    <div class="tcontainer">
        <table class="table">
          <thead class="thead">
            <tr>
              <th scope="col">Time of Day</th>
              <th scope="col">Cleanser</th>
              <th scope="col">Serums</th>
              <th scope="col">Moisturizer</th>
              <th scope="col">Extras</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
                <td>{{product.time_of_day}}</td>
                <td>{{product.cleanser}}</td>
                <td>{{product.serum}}</td>
                <td>{{product.moisturizer}}</td>
                <td>{{product.treatment}}</td>
                <td>      <a href="/routine/edit/{{product.id}}">Edit</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% for product in products %}

      {% endfor %}
</body>
</html>